$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$feature-box-border-color: #b6b6b6;

$gen-white: #fff;
$black: #000;

$gallery-color-green: #00b300;
$gallery-background-color: #f4f4f7;

$cornerSize: 25px;

$border-color-box: #e1e1e1;
