$screen-sm: 600px;

// Small screen / tablet
$screen-md: 768px;

// Medium screen / desktop
$screen-lg: 992px;

// Large screen / wide desktop
$screen-xl: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

// respond-to()
// ------------

@mixin respond-to($media) {
  @if $media == sm {
    @media (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      @content;
    }
  } @else if $media == xl {
    @media (min-width: $screen-xl) {
      @content;
    }
  }
}
