$screen-sm: 576px;

$screen-md: 768px;

$screen-lg: 992px;

$screen-xl: 1200px;

$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

@mixin respond-to($media) {
  @if $media == sm {
    @media (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
      @content;
    }
  } @else if $media == xl {
    @media (min-width: $screen-xl) {
      @content;
    }
  }
}

@mixin flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
