<header>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-8 col-sm-6 text-left">
          <ul>
            <li>
              <a href="#">USD <i class="fas fa-caret-down"></i></a>
            </li>
            <li>
              <a href="#">English <i class="fas fa-caret-down"></i></a>
            </li>
            <li>
              <a href="#">Help <i class="fas fa-caret-down"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-4 col-sm-6 text-right">
          <ul>
            <li>
              <a href="#"><i class="fas fa-user"></i> <span>Login</span></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-lock"></i> <span>Register</span></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-bars"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="company-claim">
    <div class="container">
      <div class="row align-items-center">
        <div class="col phone-number">
          <p><i class="fas fa-mobile-alt"></i> 2345 - 3560 - 222</p>
        </div>
        <div class="col logo">
          <a href="#"><img src="./images/logo.png"/></a>
        </div>
        <div class="col text-right cart">
          <a href="#" class="cart-box">
            <div class="cart-icon"><i class="fas fa-shopping-basket"></i></div>
            <div class="cart-counter">0</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="order-xl-2 navbar-expand-md navbar-light menu">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-menu"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="menu-rolled collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a href="#" class="active">Home</a></li>
              <li class="nav-item"><a href="#" class="">Furniture</a></li>
              <li class="nav-item"><a href="#" class="">Chair</a></li>
              <li class="nav-item"><a href="#" class="">Table</a></li>
              <li class="nav-item"><a href="#" class="">Sofa</a></li>
              <li class="nav-item"><a href="#" class="">Bedroom</a></li>
              <li class="nav-item"><a href="#" class="">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto col-10 order-xl-1 search-products">
          <form action="" class="search-form">
            <div class="category">
              <div class="category-cointainer">
                <ul class="category-list-head">
                  <li>
                    <i class="fas fa-list-ul"></i><a>Select a category</a
                    ><i class="fas fa-caret-down"></i>
                    <ul>
                      <li><a href="#">Furniture</a></li>
                      <li><a href="#">Chair</a></li>
                      <li><a href="#">Table</a></li>
                      <li><a href="#">Sofa</a></li>
                      <li><a href="#">Bedroom</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="search-field">
              <input placeholder="Search products..." type="text" />
              <button><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
