<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div id="leftPromo" class=" d-flex p-0 justify-content-center align-items-center">
        <div class="foil-on-screen">
          <h3 class="text-white text-uppercase">guest room</h3>
          <h2 class="text-white text-uppercase">sofa</h2>
          <h1 class="text-white text-uppercase">-20%</h1>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 pl-3 mb-2">
      <div class="row d-flex flex-column">
        <div id="promoRightUp" class="col-12 text-center promoUp">
          <h5 class="text-white text-uppercase">
            <span class="font-weight-bolder">office</span> chair
          </h5>
          <h6 class="text-white text-uppercase">collection</h6>
          <h3 class="text-white text-uppercase">$200.00</h3>
        </div>
        <div class="col-12 mt-2">
          <div class="row d-flex">
            <div class="col-12">
              <div class="d-flex flex-row">
                <div id="promoRightBottom" class="d-flex col-6"></div>
                <div class="col-6 text-center promoBottom">
                  <h4 class="text-uppercase">
                    <span class="font-weight-bolder">special</span> collection
                  </h4>
                  <h6 class=" text-uppercase">save up $5% of furniture</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
