<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col heading"><h3>Furniture Gallery</h3></div>
          </div>
        </div>

        <div class="tabs-products">
          <div class="tabs-product">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" href="#">Featured</a></li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Top Seller</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Sale Off</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Top Rated</a></li>
            </ul>
          </div>

          <div class="selected-product">
            <img src="./images/armchair1.png" alt="armchair1" />
            <div class="actions">
              <div class="outlines">
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Like"
                >
                  <i class="far fa-heart"></i>
                </a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Compare"
                >
                  <i class="fas fa-exchange-alt"></i>
                </a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="View"
                >
                  <i class="fas fa-eye"></i>
                </a>
                <a
                  href="#"
                  class="btn-outline"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Add To Cart"
                >
                  <i class="fas fa-shopping-basket"></i>
                </a>
              </div>
            </div>
            <div class="label-product">
              <div class="price-product">
                <p>$120.00</p>
                <p>$160.00</p>
              </div>
              <p>Aenean Ru Bristique</p>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
          </div>

          <div class="row thumbnails-products">
            <div class="col gallery-slider">
              <a class="gallery-link" href="#">
                <div class="gallery-arrow"><i class="fas fa-angle-left"></i></div>
              </a>
            </div>
            <div class="col gallery-slider">
              <div class="slider-image active">
                <img src="./images/armchair1.png" />
              </div>
            </div>
            <div class="col gallery-slider">
              <div class="slider-image"><img src="./images/armchair2.png" /></div>
            </div>
            <div class="col gallery-slider">
              <div class="slider-image"><img src="./images/armchair3.png" /></div>
            </div>
            <div class="col gallery-slider">
              <div class="slider-image"><img src="./images/armchair4.png" /></div>
            </div>
            <div class="col gallery-slider">
              <div class="slider-image"><img src="./images/table.png" /></div>
            </div>
            <div class="col gallery-slider">
              <div class="slider-image"><img src="./images/big_bed.png" /></div>
            </div>
            <div class="col gallery-slider">
              <a class="gallery-link" href="#">
                <div class="gallery-arrow"><i class="fas fa-angle-right"></i></div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 featured-product">
        <img src="./images/bed_big.png" alt="bedbig" />
        <div class="product-info">
          <h6>From <span>$50.80</span></h6>
          <h2 class="name-product">Bedroom Bed</h2>
          <a href="#" class="btn-gallery-shopnow">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
