<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col heading"><h3>Furniture Gallery</h3></div>
          </div>
        </div>
        <div class="gallery-container">
          <div class="tabs-product">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="featured-tab"
                  data-toggle="tab"
                  href="#featured"
                  role="tab"
                  aria-controls="featured"
                  aria-selected="false"
                >
                  Featured
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="top-seller-tab"
                  data-toggle="tab"
                  href="#top-seller"
                  role="tab"
                  aria-controls="top-seller"
                  aria-selected="true"
                >
                  Top Seller
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="sale-off-tab"
                  data-toggle="tab"
                  href="#sale-off"
                  role="tab"
                  aria-controls="sale-off"
                  aria-selected="false"
                >
                  Sale Off
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="top-rated-tab"
                  data-toggle="tab"
                  href="#top-rated"
                  role="tab"
                  aria-controls="top-rated"
                  aria-selected="false"
                >
                  Top Rated
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div
              class="tab-pane fade"
              id="featured"
              role="tabpanel"
              aria-labelledby="featured-tab"
            >
              <div class="selected-product">
                <img src="./images/armchair2.png" alt="armchair1" />
                <div class="actions">
                  <div class="outlines">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                    >
                      <i class="far fa-heart"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Compare"
                    >
                      <i class="fas fa-exchange-alt"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                    >
                      <i class="fas fa-eye"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add To Cart"
                    >
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                  </div>
                </div>
                <div class="label-product">
                  <div class="corner tl"></div>
                  <div class="corner br"></div>
                  <div class="price-product">
                    <p>$130.00 <span>$160.00</span></p>
                  </div>
                  <p>Aenean Ru Bristique</p>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="thumbnail-products">
                <div class="col-1 gallery-arrow prev">
                  <a class="gallery-link " href="#">
                    <i class="fas fa-angle-left"></i>
                  </a>
                </div>
                <div class="thumbnail-slider col-10" style="padding: 0">
                  <div class="thumbnail-slider-inner">
                    <div class="gallery-item active">
                      <div class="gallery-overlay">
                        <img src="./images/armchair2.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair1.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair3.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair4.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/table.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/big_bed.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image6" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image7" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image8" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 gallery-arrow next">
                  <a class="gallery-link" href="#">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show active"
              id="top-seller"
              role="tabpanel"
              aria-labelledby="top-seller-tab"
            >
              <div class="selected-product">
                <img src="./images/armchair1.png" alt="armchair1" />
                <div class="actions">
                  <div class="outlines">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                    >
                      <i class="far fa-heart"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Compare"
                    >
                      <i class="fas fa-exchange-alt"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                    >
                      <i class="fas fa-eye"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add To Cart"
                    >
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                  </div>
                </div>
                <div class="label-product">
                  <div class="corner tl"></div>
                  <div class="corner br"></div>
                  <div class="price-product">
                    <p>$120.00 <span>$140.00</span></p>
                  </div>
                  <p>Aenean Ru Bristique</p>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="thumbnail-products">
                <div class="col-1 gallery-arrow prev">
                  <a class="gallery-link " href="#">
                    <i class="fas fa-angle-left"></i>
                  </a>
                </div>
                <div class="thumbnail-slider col-10" style="padding: 0">
                  <div class="thumbnail-slider-inner">
                    <div class="gallery-item active">
                      <div class="gallery-overlay">
                        <img src="./images/armchair1.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair2.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair3.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair4.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/table.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/big_bed.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image6" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image7" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image8" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 gallery-arrow next">
                  <a class="gallery-link" href="#">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="sale-off"
              role="tabpanel"
              aria-labelledby="sale-off-tab"
            >
              <div class="selected-product">
                <img src="./images/armchair3.png" alt="armchair3" />
                <div class="actions">
                  <div class="outlines">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                    >
                      <i class="far fa-heart"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Compare"
                    >
                      <i class="fas fa-exchange-alt"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                    >
                      <i class="fas fa-eye"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add To Cart"
                    >
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                  </div>
                </div>
                <div class="label-product">
                  <div class="corner tl"></div>
                  <div class="corner br"></div>
                  <div class="price-product">
                    <p>$140.00 <span>$160.00</span></p>
                  </div>
                  <p>Aenean Ru Bristique</p>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="thumbnail-products">
                <div class="col-1 gallery-arrow prev">
                  <a class="gallery-link " href="#">
                    <i class="fas fa-angle-left"></i>
                  </a>
                </div>
                <div class="thumbnail-slider col-10" style="padding: 0">
                  <div class="thumbnail-slider-inner">
                    <div class="gallery-item active">
                      <div class="gallery-overlay">
                        <img src="./images/armchair3.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair4.png" />
                      </div>
                    </div>
                    <div class="gallery-item ">
                      <div class="gallery-overlay">
                        <img src="./images/armchair1.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair2.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/table.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/big_bed.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image6" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image7" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image8" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 gallery-arrow next">
                  <a class="gallery-link" href="#">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="top-rated"
              role="tabpanel"
              aria-labelledby="top-rated-tab"
            >
              <div class="selected-product">
                <img src="./images/table.png" alt="armchair1" />
                <div class="actions">
                  <div class="outlines">
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Like"
                    >
                      <i class="far fa-heart"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Compare"
                    >
                      <i class="fas fa-exchange-alt"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="View"
                    >
                      <i class="fas fa-eye"></i>
                    </a>
                    <a
                      href="#"
                      class="btn-outline"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="Add To Cart"
                    >
                      <i class="fas fa-shopping-basket"></i>
                    </a>
                  </div>
                </div>
                <div class="label-product">
                  <div class="corner tl"></div>
                  <div class="corner br"></div>
                  <div class="price-product">
                    <p>$150.00 <span>$180.00</span></p>
                  </div>
                  <p>Aenean Ru Bristique</p>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
              <div class="thumbnail-products">
                <div class="col-1 gallery-arrow prev">
                  <a class="gallery-link " href="#">
                    <i class="fas fa-angle-left"></i>
                  </a>
                </div>
                <div class="thumbnail-slider col-10" style="padding: 0">
                  <div class="thumbnail-slider-inner">
                    <div class="gallery-item active">
                      <div class="gallery-overlay">
                        <img src="./images/table.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/big_bed.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair3.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair1.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair2.png" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="./images/armchair4.png" />
                      </div>
                    </div>

                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image6" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image7" />
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="gallery-overlay">
                        <img src="https://via.placeholder.com/510x600?text=image8" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 gallery-arrow next">
                  <a class="gallery-link" href="#">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 featured-product">
        <img src="./images/bed_big.png" alt="bedbig" />
        <div class="product-info">
          <h6>From <span>$50.80</span></h6>
          <h2 class="name-product">Bedroom Bed</h2>
          <a href="#" class="btn-gallery-shopnow">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
