<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
        <div class="col-auto dots blog-dots">
          <ul>
            <li><a href="#0" class="active"></a></li>
            <li><a href="#1"></a></li>
            <li><a href="#2"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row blog-slider-container">
      <div class="col">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/sofa.jpg" alt="sofa" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="blog-header">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><span class="btn-main">Read more</span></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/chairs.jpg" alt="chairs" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="blog-header">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><span class="btn-main">Read more</span></div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/desk.jpg" alt="desk" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="blog-header">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><span class="btn-main">Read more</span></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
