<div class="container">
  <div class="panel-bar">
    <div class="row no-gutters align-items-end">
      <div class="col-auto heading"><h3>client feedback</h3></div>
      <div class="col menu"></div>
      <div class="col-auto dots">
        <ul id="feedback-dots">
          <li><a href="#feedback-one" class="point active"></a></li>
          <li><a href="#feedback-two" class="point"></a></li>
          <li><a href="#feedback-three" class="point"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content align-content-center id=" feedback-one">
  <div class="col-12 text-center my-3"><i class="fas fa-2x fa-quote-right"></i></div>
  <div class="offset-1 col-10 text-center mb-2">
    <blockquote>
      Est dignissimos doloribus. Quo quia nemo aliquam autem deleniti. Doloribus sint
      nihil. At nihil fuga commodi eos unde ratione ut voluptas asperiores. Occaecati et
      sit eligendi expedita voluptatem praesentium quidem possimus.
    </blockquote>
  </div>
  <div class="col-6 text-right my-3 pr-1">
    <img
      class="img-fluid customer-photo"
      src="./images/Brendan_Eich.jpeg"
      alt="JS Father"
    />
  </div>
  <div class="col-6 text-left my-3 pl-1">
    <p class="lead text-capitalize font-weight-bold mt-1 mb-0">brendan eich</p>
    <p class="lead client-type">javascript father</p>
  </div>
</div>
<div class="row d-flex justify-content align-content-center hide-section id="
feedback-two">
<div class="col-12 text-center my-3"><i class="fas fa-2x fa-quote-right"></i></div>
<div class="offset-1 col-10 text-center mb-2">
  <blockquote>
    Dolorem nostrum atque exercitationem et itaque placeat veniam aut. Sint dolorem
    sapiente ea voluptatem. Non reiciendis eos minima laudantium totam praesentium
    explicabo sapiente. Itaque laborum voluptates est qui culpa. Praesentium doloremque
    amet quis id omnis voluptas adipisci ut iste. Repellat deleniti nisi autem nam
    asperiores aspernatur eaque voluptatum molestias.
  </blockquote>
</div>
<div class="col-6 text-right my-3 pr-1">
  <img class="img-fluid customer-photo" src="./images/selena-gomez.jpg" alt="Selena" />
</div>
<div class="col-6 text-left my-3 pl-1">
  <p class="lead text-capitalize font-weight-bold mt-1 mb-0">Selena Gomez</p>
  <p class="lead client-type">Customer from East Coast</p>
</div>
<div class="row d-flex justify-content align-content-center hide-section id="
feedback-three">
<div class="col-12 text-center my-3"><i class="fas fa-2x fa-quote-right"></i></div>
<div class="offset-1 col-10 text-center mb-2">
  <blockquote>
    Nesciunt ipsam omnis accusantium voluptas animi suscipit tempora recusandae. Ut
    nihil enim similique facere consequatur ullam pariatur. Explicabo consequuntur at.
    Nostrum quia ea quasi dignissimos aut recusandae et quod. Enim est tenetur hic
    cupiditate eos eaque non doloribus error.
  </blockquote>
</div>
<div class="col-6 text-right my-3 pr-1">
  <img
    class="img-fluid customer-photo"
    src="./images/Sally-field.jpg"
    alt="JS Father"
  />
</div>
<div class="col-6 text-left my-3 pl-1">
  <p class="lead text-capitalize font-weight-bold mt-1 mb-0">Sally Field</p>
  <p class="lead client-type">Customer from Chicago</p>
</div>
