.carousel-control-prev {
  margin-left: -50px;
  width: 1.3rem;
  opacity: 1;
  background-color: $gen-black;

  @media (min-width: 576px) {
    margin-left: -100px;
    width: 3.3rem;
  }
}

.carousel-control-next {
  margin-right: -50px;
  width: 1.3rem;
  opacity: 1;
  background-color: $gen-black;

  @media (min-width: 576px) {
    margin-right: -100px;
    width: 3.3rem;
  }
}

.w-adaptive {
  width: 22.2%;
  @media (min-width: 576px) {
    width: 18%;
  }
  @media (min-width: 1200px) {
    width: 16.2%;
  }
}

.px-6 {
  padding-left: 100px;
  padding-right: 100px;
}
