footer {
  .footer-menu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menu-wrapper {
      &-image {
        @include respond-to(md) {
          @include flex-center;
        }
        @include respond-to(sm) {
          @include flex-center;
        }
      }
      h6 {
        color: $gen-white;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        @include respond-to(md) {
          @include flex-footer;
        }
        @include respond-to(sm) {
          @include flex-footer;
        }
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        @include respond-to(md) {
          @include flex-footer;
          text-align: left;
        }
        @include respond-to(sm) {
          @include flex-footer;
          text-align: left;
        }
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: rgb(169, 169, 169);

            &:hover {
              @extend .hover-placeholder;
              color: $gen-white;
            }
          }
        }
      }
    }

    .payment-methods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottom-bar {
    background-color: $gen-black;

    .container > .row {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: rgb(169, 169, 169);
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        @include respond-to(md) {
          text-align: left;
        }
        @include respond-to(sm) {
          text-align: left;
        }
        span {
          @include respond-to(sm) {
            display: block;
          }
        }
      }
    }

    .socialmedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;
          @include respond-to(sm) {
            margin-left: 0.5rem;
          }
          a {
            color: rgb(169, 169, 169);
            text-decoration: none;

            &:hover {
              @extend .hover-placeholder;
              color: $primary;
            }
          }
        }
      }
    }
  }
}
