header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: $gen-white;
          font-size: 13px;

          &:hover {
            @extend .hover-placeholder;
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .logo {
      text-align: center;
    }

    .phone-number {
      text-align: left;
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: $gen-white;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          min-width: 28px;
          padding: 0 5px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          left: 75%;
          transform: translate(0%, -50%);
        }

        &:hover {
          @extend .hover-placeholder;
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: $gen-white;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      .menu-rolled {
        &.navbar-collapse {
          align-items: stretch;
        }
      }

      .navbar-toggler {
        border: none;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $gen-black;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid $gen-white;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover {
              @extend .hover-placeholder;
            }

            &:hover,
            &.active {
              background-color: $primary;
              color: $gen-white;
              border-color: $primary;
              border-top: 4px solid $gen-black;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $gen-black;
      position: relative;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &-cointainer {
          font-family: "PT Sans", sans-serif;
          width: 100%;
          min-width: 171px;
          display: flex;
          align-items: center;
          height: 40px;
          font-size: 14px;
          margin: 0;
          border: 0;
          .category-list-head,
          .category-list-head li {
            list-style: none;
            margin: 0;
            padding: 0;
            line-height: 43px;
            li {
              display: block;
            }
          }
          .category-list-head {
            & ul {
              overflow: visible;
              position: absolute;
              visibility: hidden;
              top: 100%;
              padding: 0;
              background: $gen-black;
              text-align: center;
              width: calc(100% + 2px);
              cursor: pointer;
              left: -1px;
              z-index: 1;
            }
            & li {
              position: relative;
              display: block;

              i:first-child {
                color: $primary;
                left: 10px;
                z-index: 0;
                padding: 10px;
              }

              i:nth-child(3) {
                right: 10px;
                z-index: 0;
                padding: 10px;
              }

              &:hover li {
                background: $header-bg;
                border-bottom: 1px solid $gen-white;

                &:hover a {
                  color: $primary;
                }
                a {
                  color: $gen-white;
                  text-decoration: none;
                }
              }
              &:hover > ul {
                visibility: visible;
              }
            }
          }
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input,
        input:focus {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;
          -moz-outline: none;
          width: 90%;

          &::placeholder {
            color: $gen-black;
          }
        }

        button,
        button:focus {
          border: 0;
          background-color: transparent;
          outline: none;
          -moz-outline: none;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  header {
    .top-bar {
      .text-left {
        ul li {
          margin-right: 0.3rem;
        }
      }

      .text-right {
        padding-left: 0;
        ul li {
          margin-left: 0.3rem;
          span {
            display: none;
          }
        }
      }
    }

    .company-claim {
      .logo {
        text-align: left;
      }

      .cart {
        transform: translate(0px, -12px);
      }

      .phone-number {
        order: 10;
        min-width: 100%;
        text-align: right;

        p {
          font-size: 14px;
        }
      }
    }
    .menu-bar {
      .search-form {
        .category {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $screen-md) {
  header {
    .menu-bar {
      .menu-rolled {
        height: 84px !important;
      }
      .navbar-nav {
        position: absolute;
        background: $gen-white;
        z-index: 1000;
        transform: translate(0px, 84px);

        li {
          a {
            width: 75vw;
          }
        }
      }

      .search-form {
        .category-cointainer {
          .category-list-head {
            & li {
              i:first-child,
              i:nth-child(3) {
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-xl) {
  header {
    .menu-bar {
      .search-products {
        padding-left: 0;
      }

      .container > .row {
        height: 99px;
      }
    }
  }
}
