<<<<<<< HEAD
=======
.font-weight-bolder {
  font-weight: bolder !important;
}

>>>>>>> Helpers.scss file created for shared classes. Promotions section added
.px-6 {
  padding-left: 100px;
  padding-right: 100px;
}
