.fade-in {
  animation: fadein 1.7s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.product-space-between {
  padding-right: 5px;
  padding-left: 5px;
}
.product-box {
  background-color: $gen-white;
  border: 1px solid $border-color-box;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    min-height: 278px;
    @include flex-column-center;
    overflow: hidden;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    img {
      width: 100%;
      max-width: auto;
      height: auto;
    }
    .tmp-who-am-i {
      position: absolute;
      top: 40%;
      margin-left: 47%;
      width: 100px;
      font-weight: bolder;
      color: $primary;
    }
    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: $gen-white;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      visibility: hidden;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    @include stars;
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .old-price {
      color: #a5a5a5;
      font-family: Poppins;
      font-size: 16px;
      text-decoration: line-through;
    }
  }

  &:hover .buttons {
    @extend .hover-placeholder;
    visibility: visible;
  }

  &:hover .price > .btn-main-small {
    @extend .hover-placeholder;
    background-color: $primary;
    cursor: pointer;
  }
}
.slideshow-container {
  position: relative;
  display: block;
  width: 100%;
}

.tns-nav {
  position: relative;
  right: 0;
  top: -39px;
  display: flex;
  justify-content: flex-end;
  @include respond-to(sm) {
    top: -20px;
  }

  button {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0 0 0 10px;
    border-radius: 6px;
    padding: 0;
    background-color: $border-color-box;
    border: none;
    outline: none;
    cursor: pointer;

    &.tns-nav-active,
    &:hover {
      background-color: $primary;
    }
  }
}
