.section--features {
  padding: 5rem 0;

  .feature-link {
    &:hover {
      text-decoration: none;

      i {
        background-color: $primary;
        color: $gen-white;
        border-color: $primary;
      }

      .content {
        color: $primary;
      }
    }
  }
}
